<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-easemob"
    version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>ZJNSHXPlugin</name>
    <js-module name="EasemobPlugin" src="www/ZJNSHXPlugin.js">
        <clobbers target="EasemobPlugin" />
    </js-module>
    <preference name="EASEMOB_KEY" />
    <preference name="PACKAGE_NAME" />
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ZJNSHXPlugin">
                <param name="android-package" value="com.bjzjns.hxplugin.ZJNSHXPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.GET_TASKS" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.USE_CREDENTIALS" />
            <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
            <uses-permission android:name="android.permission.BROADCAST_STICKY" />
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
            <uses-permission
                android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/ZJNSHXPlugin.java" target-dir="src/com/bjzjns/hxplugin" />
        <framework custom="true" src="src/android/build.gradle" type="gradleReference" />
        <resource-file src="src/android/easeui-release.aar" target="libs/easeui-release.aar" />

        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <!-- 设置环信应用的appkey -->
            <meta-data android:name="EASEMOB_APPKEY" android:value="$EASEMOB_KEY" />
            <meta-data android:name="com.baidu.lbsapi.API_KEY"
                android:value="3ecea51f560650b1ed8a4b99808f52e8" />
            <!-- 声明sdk所需的service -->
            <service android:name="com.hyphenate.chat.EMChatService" android:exported="true" />

            <service android:name="com.hyphenate.chat.EMJobService" android:exported="true"
                android:permission="android.permission.BIND_JOB_SERVICE" />

            <!-- 声明sdk所需的receiver -->
            <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.PACKAGE_REMOVED" />

                    <data android:scheme="package" />
                </intent-filter>
                <!-- 可选filter -->
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <action android:name="android.intent.action.USER_PRESENT" />
                </intent-filter>
            </receiver>

            <!-- 开机自启动服务 -->
            <receiver android:name=".receiver.StartServiceReceiver">
                <intent-filter android:priority="1000">
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </receiver>

            <!-- mi push -->
            <service android:name="com.xiaomi.mipush.sdk.PushMessageHandler" android:enabled="true"
                android:exported="true" />
            <service android:name="com.xiaomi.mipush.sdk.MessageHandleService"
                android:enabled="true" />

            <receiver android:name="com.hyphenate.chat.EMMipushReceiver" android:exported="true">
                <intent-filter>
                    <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
                </intent-filter>
                <intent-filter>
                    <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
                </intent-filter>
                <intent-filter>
                    <action android:name="com.xiaomi.mipush.ERROR" />
                </intent-filter>
            </receiver>
            <!-- mi push end -->


            <!-- huawei push 第三方相关 :接收Push消息（注册、Push消息、Push连接状态、标签，LBS上报结果）广播 -->
            <receiver android:name="com.hyphenate.chat.EMHuaweiPushReceiver"
                android:exported="true">
                <intent-filter>

                    <!-- 必须,用于接收token -->
                    <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                    <!-- 必须，用于接收消息 -->
                    <action android:name="com.huawei.android.push.intent.RECEIVE" />
                </intent-filter>
                />
                <meta-data android:name="CS_cloud_ablitity" android:value="successRateAnalytics" />
            </receiver>

            <!-- PushSDK:PushSDK接收外部请求事件入口 -->
            <receiver android:name="com.huawei.android.pushagent.PushEventReceiver"
                android:exported="true" android:process=":pushservice">
                <intent-filter>
                    <action android:name="com.huawei.android.push.intent.REFRESH_PUSH_CHANNEL" />
                    <action android:name="com.huawei.intent.action.PUSH" />
                    <action android:name="com.huawei.intent.action.PUSH_ON" />
                    <action android:name="com.huawei.android.push.PLUGIN" />
                </intent-filter>
            </receiver>

            <!-- PushSDK:Push服务 -->
            <service android:name="com.huawei.android.pushagent.PushService"
                android:process=":pushservice" />

            <!-- huawei push end -->

            <!-- 百度地图所需的service -->
            <service android:name="com.baidu.location.f" android:enabled="true"
                android:process=":remote" />

            <activity android:name="com.bjzjns.hxplugin.activity.ChatActivity"
                android:launchMode="singleTask" android:screenOrientation="portrait"
                android:theme="@style/horizontal_slide"
                android:windowSoftInputMode="adjustResize" />
            <activity android:name="com.bjzjns.hxplugin.activity.ContextMenuActivity"
                android:screenOrientation="portrait" android:theme="@style/MyDialogStyle" />
            <activity android:name="com.bjzjns.hxplugin.activity.ImageGridActivity"
                android:screenOrientation="portrait" android:theme="@style/horizontal_slide"
                android:windowSoftInputMode="stateAlwaysHidden" />
            <activity android:name="com.bjzjns.hxplugin.activity.RecorderVideoActivity"
                android:screenOrientation="portrait" android:theme="@style/horizontal_slide"
                android:windowSoftInputMode="stateAlwaysHidden" />
            <activity android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
                android:screenOrientation="portrait" android:theme="@style/horizontal_slide" />
            <!-- 显示下载大图页面 -->
            <activity android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
                android:screenOrientation="portrait" android:theme="@style/horizontal_slide" />
            <!-- 下载文件 -->
            <activity android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
                android:screenOrientation="portrait" android:theme="@style/horizontal_slide" />
            <activity android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
                android:screenOrientation="portrait" android:theme="@style/horizontal_slide"
                android:windowSoftInputMode="stateAlwaysHidden" />
            <provider android:name="android.support.v4.content.FileProvider"
                android:authorities="$PACKAGE_NAME.fileprovider"
                android:exported="false" android:grantUriPermissions="true">
                <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/filepaths" />
            </provider>
        </config-file>
        <source-file src="src/android/activity/ChatActivity.java"
            target-dir="src/com/bjzjns/hxplugin/activity" />
        <source-file src="src/android/activity/ContextMenuActivity.java"
            target-dir="src/com/bjzjns/hxplugin/activity" />
        <source-file src="src/android/activity/ImageGridActivity.java"
            target-dir="src/com/bjzjns/hxplugin/activity" />
        <source-file src="src/android/activity/RecorderVideoActivity.java"
            target-dir="src/com/bjzjns/hxplugin/activity" />
        <source-file src="src/android/fragment/ChatFragment.java"
            target-dir="src/com/bjzjns/hxplugin/fragment" />
        <source-file src="src/android/fragment/ImageGridFragment.java"
            target-dir="src/com/bjzjns/hxplugin/fragment" />
        <source-file src="src/android/im/HXContext.java" target-dir="src/com/bjzjns/hxplugin/im" />
        <source-file src="src/android/im/HXPreferenceManager.java"
            target-dir="src/com/bjzjns/hxplugin/im" />
        <source-file src="src/android/manager/HXManager.java"
            target-dir="src/com/bjzjns/hxplugin/manager" />
        <source-file src="src/android/model/BaseModel.java"
            target-dir="src/com/bjzjns/hxplugin/model" />
        <source-file src="src/android/model/ConversationItemModel.java"
            target-dir="src/com/bjzjns/hxplugin/model" />
        <source-file src="src/android/model/ConversationListModel.java"
            target-dir="src/com/bjzjns/hxplugin/model" />
        <source-file src="src/android/model/HXUserModel.java"
            target-dir="src/com/bjzjns/hxplugin/model" />
        <source-file src="src/android/model/VideoEntityModel.java"
            target-dir="src/com/bjzjns/hxplugin/model" />
        <source-file src="src/android/tools/GsonUtils.java"
            target-dir="src/com/bjzjns/hxplugin/tools" />
        <source-file src="src/android/tools/LogUtils.java"
            target-dir="src/com/bjzjns/hxplugin/tools" />
        <source-file src="src/android/tools/PackageUtils.java"
            target-dir="src/com/bjzjns/hxplugin/tools" />
        <source-file src="src/android/tools/ToastUtils.java"
            target-dir="src/com/bjzjns/hxplugin/tools" />
        <source-file src="src/android/tools/video/ImageCache.java"
            target-dir="src/com/bjzjns/hxplugin/tools/video" />
        <source-file src="src/android/tools/video/ImageResizer.java"
            target-dir="src/com/bjzjns/hxplugin/tools/video" />
        <source-file src="src/android/tools/video/ImageWorker.java"
            target-dir="src/com/bjzjns/hxplugin/tools/video" />
        <source-file src="src/android/tools/video/RecyclingBitmapDrawable.java"
            target-dir="src/com/bjzjns/hxplugin/tools/video" />
        <source-file src="src/android/tools/video/Utils.java"
            target-dir="src/com/bjzjns/hxplugin/tools/video" />
        <source-file src="src/android/view/RecyclingImageView.java"
            target-dir="src/com/bjzjns/hxplugin/view" />
        <source-file src="src/android/view/chatrow/EaseChatRowProduct.java"
            target-dir="src/com/bjzjns/hxplugin/view/chatrow" />
        <source-file src="src/android/view/chatrow/EaseChatRowProductLink.java"
            target-dir="src/com/bjzjns/hxplugin/view/chatrow" />
        <source-file src="src/android/res/values/bjzjns_strings.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/bjzjns_colors.xml" target-dir="res/values" />
        <source-file src="src/android/res/xml/filepaths.xml" target-dir="res/xml" />
        <source-file src="src/android/res/layout/ease_row_sent_product.xml"
            target-dir="res/layout" />
        <source-file src="src/android/res/layout/ease_row_received_product_link.xml"
            target-dir="res/layout" />
        <source-file src="src/android/res/layout/ease_row_sent_product_link.xml"
            target-dir="res/layout" />
        <source-file src="src/android/res/layout/toolbar_include_layout.xml"
            target-dir="res/layout" />
        <source-file src="src/android/res/layout/em_choose_griditem.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/em_context_menu_for_image.xml"
            target-dir="res/layout" />
        <source-file src="src/android/res/layout/em_context_menu_for_location.xml"
            target-dir="res/layout" />
        <source-file src="src/android/res/layout/em_context_menu_for_text.xml"
            target-dir="res/layout" />
        <source-file src="src/android/res/layout/em_context_menu_for_video.xml"
            target-dir="res/layout" />
        <source-file src="src/android/res/layout/em_context_menu_for_voice.xml"
            target-dir="res/layout" />
        <source-file src="src/android/res/layout/em_image_grid_fragment.xml"
            target-dir="res/layout" />
        <source-file src="src/android/res/layout/em_recorder_activity.xml"
            target-dir="res/layout" />
        <source-file src="src/android/res/layout/im_activity_chat.xml" target-dir="res/layout" />
        <source-file src="src/android/res/drawable/em_camera_switch_selector.xml"
            target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/em_chat_video_selector.xml"
            target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/em_context_menu_item_bg.xml"
            target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/em_photogrid_list_selector.xml"
            target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/rectangle_black_ground_transparent_border.xml"
            target-dir="res/drawable" />
        <source-file src="src/android/res/drawable-xhdpi/em_actionbar_camera_icon.png"
            target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/em_camera_switch_normal.9.png"
            target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/em_camera_switch_pressed.9.png"
            target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/em_video_recorder_start_btn.png"
            target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/em_video_recorder_stop_btn.png"
            target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/em_empty_photo.png"
            target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/em_chat_video_normal.png"
            target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/em_chat_video_pressed.png"
            target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/icon_back.png"
            target-dir="res/drawable-xhdpi" />
    </platform>

    <platform name="ios">
        <source-file src="src/ios/ZJNSHXPlugin.m" />
        <header-file src="src/ios/ZJNSHXPlugin.h" />
        <source-file src="src/ios/ZJNSEaseMobileConversationModel.m" />
        <header-file src="src/ios/ZJNSEaseMobileConversationModel.h" />

        <config-file parent="/widget" target="config.xml">
            <feature name="ZJNSHXPlugin">
                <param name="ios-package" value="ZJNSHXPlugin" />
            </feature>
        </config-file>
    </platform>
</plugin>
